*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    background-color: #EAB14B;
}
.Watch {
    width: 900px;
    min-height: 300px;
    /* padding: .5rem; */

    border: 1rem solid #183B79;
    background-color: #78A1D4;
    border-radius: 1rem;
   
    text-align: center;
    color: #fff;
}

h3 {
    font-size: 4rem;
    margin-top: 3rem;
    word-spacing: 1.5rem;
}

h1 {
    font-size: 6rem;
    margin-top: .5rem;
    word-spacing: 10rem;
}


